<h1>Your details</h1>
<br>
<table class="table table-striped">
    <tbody>
      <tr>
        <td>Name: </td>
        <td>{{ client?.name }}</td>
      <tr>
        <td>Postal code</td>
        <td>{{client?.postalCode}}</td>
      </tr>
      <tr>
        <td>City</td>
        <td>{{client?.city}}</td>
      </tr>
      <tr>
        <td>Street</td>
        <td>{{client?.street}}</td>
      </tr>
      <tr>
        <td>House number</td>
        <td>{{client?.houseNumber}}</td>
      </tr>
      <tr>
        <td>Meter Id</td>
        <td>{{client?.meterId}}</td>
      </tr>
      <tr>
        <td>Email address  </td>
        <td>{{client?.email}}</td>
      </tr>
    </tbody>
</table>

<br>

<qrcode [qrdata]="clientQRCode" [width]="128" [errorCorrectionLevel]="'M'" [allowEmptyString]="true" ></qrcode>