<h1>Billings </h1>
<div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                  <th>Year</th>
                  <th>Month</th>
                  <th>Payment</th>
                  <th>Completed</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let x of clientAllPayments">
                  <td>{{x.year}}</td>
                  <td>{{getMonthNames(x.month)}}</td>
                  <td>{{x.payment}} Ft</td>
                  <td>{{x.completed === 0 ? "Not paid" : "Paid"}}</td>
      
                </tr>
                </tbody>
          </table>
    </div>

</div>
